.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #ff5252;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #ff5252;
  color: white;
}

.btn-outline-secondary {
  border-color: #ced4da;
}

.btn-outline-secondary:hover {
  background: #ff5252;
  border-color: #ff5252;
}

.show > .btn-outline-secondary.dropdown-toggle {
  background: #ff5252;
  border-color: #ff5252;
}

.btn-group > .btn {
  border-radius: 50px;
  margin-top: 5px;
}
