.container {
  margin-top: 40px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #161637;
}

#unsaved-label {
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  align-items: center;
}

#saved-label {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.card-img-top {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 10px;
}

.badge-info {
  color: black;
  background-color: #ffcc00;
  font-size: 18px;
  font-weight: 400;
}

.badge-pill {
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 20px;
  line-height: 30px;
  box-shadow: 1px 1px 4px #dcd5b9;
}

.card-body {
  border-top: 1px solid #dad7d7;
}

.card-title {
  text-align: center;
  margin: auto;
}

.card-footer {
  display: inline-flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa-heart {
    color: lightgray;
}

.fa-heart:hover {
    color: red;
}
