.container {
  margin-top: 40px;
}

.container-fluid {
  max-width: 80%;
}

.card-deck {
  position: relative;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #494242;
  text-align: center;
  margin: auto;
}

#unsaved-label {
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  align-items: center;
}

#saved-label {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.card-img-top {
  max-width: 300px;
  height: 30vh;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body {
  border-top: 1px solid #dad7d7;
  object-fit: cover;
}

.card-footer {
  display: inline-flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.01);
  object-fit: cover;
}

.fa-heart {
  color: lightgray;
}

.red {
  color: #ff5252!important;
}

.red:hover {
  color: lightgray!important;;
}

.fa-heart:hover {
  color: #ff5252;
}

.tag {
  display: inline-block;
  width: auto;
  height: 38px;
  background-color: #fff000;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #fff000;
  margin-left: 19px;
  position: relative;
  color: black;
  font-size: 18px;
  padding: 0 10px 0 10px;
}

.tag:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #fff000;
}

.tag:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

.tag-pill {
  border-radius: 3px;
  position: absolute;
  bottom: 175px;
  right: 30px;
  line-height: 36px;
  box-shadow: 1px 1px 4px #dcd5b9;
}

.card-container-title {
  text-align: center;
  font-size: 48px;
  color: #423E3E;
  margin-top: 100px;
  margin-bottom: 100px;
  text-shadow: 1px 1px 1px lightgrey;
}

.row {
  margin-bottom: 5rem;
}
