.input-group > .form-control {
  width: 60%!important;
  height: 63px;
  border-radius: 50px;
  font-size: 20px;
}

.bg-dark {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #ff5252!important;
  width: 50px;
}
